<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.github.lecho.mobilization"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.github.lecho.mobilization.ConferenceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.github.lecho.mobilization.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.lecho.mobilization.ui.TalkActivity">
        </activity>
        <activity
            android:name="com.github.lecho.mobilization.ui.SpeakerActivity">
        </activity>

        <service
            android:name="com.github.lecho.mobilization.async.ContentUpdateService"
            android:exported="false">
        </service>
    </application>

</manifest>
